/**
 * The Basics
 */

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
  box-sizing: border-box;
  quotes: "“" "”";

  @media (min-width: $bp-large) {
    font-size: $large-font-size;
  }
}

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: 'liga', 'kern';
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom: 1px dotted $link-color;  // from the link style on http://www.briangardner.com/
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 6px;
}

/**
 * Tables
 */

table {
  // margin-bottom: 1rem;
  width: 100%;
  // font-size: 85%;
  // border: none; //1px solid $border-color;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  // border: 1px solid $border-color;
}

// th {
//   text-align: left;
// }
//
// tbody tr:nth-child(odd) td,
// tbody tr:nth-child(odd) th {
//   background-color: #f9f9f9;
// }
