// Code

code,
pre {
  font-family: $code-font-family;
}

code {
    padding: 0.2em 0.4em;
    overflow: auto;
    font-size: 75%;
    line-height: 1.45;
    background-color: #f8f8f8;
    color: $code-color;
    border-radius: 3px;
}
