#------------------
# ALWAYS IGNORE
#------------------
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.ruby-version


#------------------
# OS / EDITOR
#------------------
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject


#------------------
# NODE
#------------------
npm-debug.log
node_modules


#------------------
# BOWER
#------------------
.bower-cache/
.bower-registry/
static/lib/


#------------------
# CONFIGURATION
#------------------
*.env
.env
.env.*
!.env.example
docker-compose.yml
aws-compose.yml
themes
