* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 65em) {
    html {
      font-size: 20px; } }

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  color: #515151;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    border-bottom: 1px dotted #515151; }
  a strong {
    color: inherit; }

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 6px; }

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse; }

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5; }

th {
  text-align: left; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?y9uzuy");
  src: url("../fonts/icomoon.eot?y9uzuy#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?y9uzuy") format("truetype"), url("../fonts/icomoon.woff?y9uzuy") format("woff"), url("../fonts/icomoon.svg?y9uzuy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\f015"; }

.icon-clock-o:before {
  content: "\f017"; }

.icon-tag:before {
  content: "\f02b"; }

.icon-twitter-square:before {
  content: "\f081"; }

.icon-facebook-square:before {
  content: "\f082"; }

.icon-linkedin-square:before {
  content: "\f08c"; }

.icon-github-square:before {
  content: "\f092"; }

.icon-chevron-circle-left:before {
  content: "\f137"; }

.icon-chevron-circle-right:before {
  content: "\f138"; }

.icon-chevron-circle-up:before {
  content: "\f139"; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2rem;
  font-weight: 300; }

h2 {
  margin-top: 1rem;
  font-size: 1.5rem; }

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem; }

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

strong {
  font-weight: 600; }

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem; }

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase; }
  abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5; }

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: 0.25rem solid #515151;
  background-color: #f9f9f9; }
  blockquote p:last-child {
    margin-bottom: 0; }
  @media (min-width: 30em) {
    blockquote {
      padding-right: 5rem;
      padding-left: 1.25rem; } }

a[href^="#fn:"],
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold; }

.footnotes {
  margin-top: 2rem;
  font-size: 85%; }

.lead {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100; }

.small {
  font-size: .6rem;
  font-weight: 300; }

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace; }

code {
  padding: 0.2em 0.4em;
  overflow: auto;
  font-size: 75%;
  line-height: 1.45;
  background-color: #f8f8f8;
  color: #d14;
  border-radius: 3px; }

.container {
  max-width: 50rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto; }

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */
.content {
  padding-top: 4rem;
  padding-bottom: 4rem; }

@media (min-width: 65em) {
  .content {
    max-width: 40rem;
    margin-left: 20rem;
    margin-right: 2rem; } }

@media (min-width: 73em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem; } }

.page,
.post {
  margin-bottom: 2rem; }
  .page li + li,
  .post li + li {
    margin-top: .25rem; }

.page-title,
.post-title,
.post-title a {
  color: #303030; }

.page-title,
.post-title {
  margin-top: 0; }

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: .8rem;
  font-weight: 300; }

.post-date > a {
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: .8rem;
  font-weight: 300; }

.pagination {
  display: inline-block;
  padding-left: 0;
  width: 100%; }

.pagination > li {
  display: inline;
  font-size: 1.5rem; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  position: relative;
  float: left; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  position: relative;
  float: right;
  text-align: right; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  display: none; }

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */
.sidebar > .myface > a {
  border-bottom: none; }

.myface {
  position: relative;
  display: block; }

.myface img {
  display: none;
  transition: opacity .2s linear;
  margin-left: auto;
  margin-right: auto; }

.myface:hover img {
  opacity: .65; }

.myface i {
  position: absolute;
  display: none;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 0 3rem rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity .2s linear;
  transition-delay: .05s; }

.myface:hover i {
  opacity: 1; }

.sidebar {
  text-align: center;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #202020; }

@media (min-width: 65em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem; }
  .sidebar-about img {
    display: block !important; }
  .sidebar-about p {
    display: block !important; }
  .myface img {
    display: block !important; }
  .myface i {
    display: block !important; } }

/* Sidebar links */
.sidebar a {
  color: rgba(255, 255, 255, 0.5); }

.sidebar p {
  margin: 0; }

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-size: 2.8rem;
  font-weight: 200; }

.sidebar-about p {
  display: none;
  margin: 0; }

.sidebar-about img {
  display: none;
  margin-left: auto;
  margin-right: auto; }

/* Sidebar nav */
.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none; }

.sidebar-nav-item {
  display: block;
  font-size: 3rem;
  letter-spacing: -2px; }

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline; }

.sidebar-nav-item.active {
  font-weight: bold; }

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */
@media (min-width: 65em) {
  .sidebar-sticky {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    left: 1rem; } }

.soften {
  margin-top: 1.5rem;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

.hr-sidebar {
  border: 0;
  height: 1px;
  width: 70%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }
