<!-- {{ if isset .Site.Params "highlight" }}
<script src="{{ .Site.BaseURL }}/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ end }} -->
{{ if isset .Site.Params "highlight" }}
<script>
// // Load Scripts
// function loadScript (url, async) {
//   return new Promise(function (resolve, reject) {
//     var script = document.createElement('script');
//     script.src = url;
//     if (typeof async !== 'undefined') {
//       script.async = async;
//     }
//
//     script.onerror = reject;
//     script.onload = resolve;
//     document.head.appendChild(script);
//     hljs.initHighlightingOnLoad();
//   });
// }
// Load Scripts
function loadScript(url, callback) {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.charset = 'utf8';
  if (script.readyState) { //IE
    script.onreadystatechange = function() {
      if (script.readyState == 'loaded' || script.readyState == 'complete') {
        script.onreadystatechange = null;
        if (typeof callback === 'function') {
          callback();
        }
      }
    };
  } else { //other browers
    script.onload = function() {
      script.onload = null;
      if (typeof callback === 'function') {
        callback();
      }
    };
  }
  script.src = url;
  document.getElementsByTagName('head')[0].appendChild(script);
}
// Load Styles
function loadStyles (url) {
  return new Promise(function (resolve, reject) {
    var xhr = new XMLHttpRequest();
    xhr.returnType = 'text';
    xhr.onload = function () {
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = url;
      document.head.appendChild(link);
      resolve();
    };
    xhr.onerror = reject;
    xhr.open('get', url);
    xhr.send();
  });
}
loadStyles('{{.Site.BaseURL }}/css/highlight/{{.Site.Params.highlight}}.css');
loadScript('{{ .Site.BaseURL }}/js/highlight.pack.js', function() {
  hljs.initHighlightingOnLoad();
});
</script>
{{ end }}
