{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

  <div class="content container">
    <div class="posts">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
      {{ range $paginator.Pages }}
      <div class="post">

        <h1 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>

        <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}{{ if not .Site.Params.hideReadingTime }} &middot; <span class="icon-clock-o"></span> {{ .ReadingTime }} minute read{{ end }}{{ if .Site.Params.disqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
        {{ if isset .Params "categories" }}
        <br/>
        {{ range .Params.categories }}<i class="fa fa-tag" aria-hidden="true"></i> <a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
        {{ end }}
        </span>

        {{ if eq .Site.Params.truncate false }}
        {{ .Content }}
        {{ else if .Description }}
        <p>{{ .Description }}</p>
        <a href="{{ .Permalink }}">Read On <span class="icon-chevron-circle-right"></span></a>
        {{ else }}
        {{ .Summary }}
        {{ if .Truncated }}<a href="{{ .Permalink }}">Read On <span class="icon-chevron-circle-right"></span></a>{{ end }}
        {{ end }}
        <hr class="soften">
      </div>
      {{ end }}

      <!-- {{ template "_internal/pagination.html" . }} -->

      {{ if gt $paginator.TotalPages 1 }}
      <ul class="pagination">
          <!-- {{ with $paginator.First }}
          <li>
              <a href="{{ .URL }}" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
          </li>
          {{ end }} -->
          <li
          {{ if not $paginator.HasPrev }}class="disabled"{{ end }}>
          <a href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ end }}" aria-label="Previous"><span class="icon-chevron-circle-left"></span> Newer Posts</a>
          </li>

          <!-- {{ range $paginator.Pagers }}
          <li
          {{ if eq . $paginator }}class="active"{{ end }}><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
          {{ end }} -->
          <li
          {{ if not $paginator.HasNext }}class="disabled"{{ end }}>
          <a href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ end }}" aria-label="Next">Older Posts <span class="icon-chevron-circle-right"></span></a>
          </li>
          <!-- {{ with $paginator.Last }}
          <li>
              <a href="{{ .URL }}" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a>
          </li>
          {{ end }} -->
      </ul>
      {{ end }}

    </div>
  </div>

  {{ with .Site.Params.disqusShortname }}
  <script type="text/javascript">
  var disqus_shortname = {{ . }};
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>
  {{end}}

{{ partial "footer.html" . }}

</body>
</html>
